.login-container {
    height: 100%;
}

.login-logo {
    margin: auto;
    width: 50%;
    height: 200px;
    font-size: 50px;
    text-align: center;
    padding-top: 250px;
}

.login-button {
    margin: auto;
    height: 50%;
    width: 300px;
}